div
  div(plug="layout")
    .pdl-layout
      div(data-type="layout")
        .pdl-cell(data-name="view")
        .pdl-cell(data-name="unit")
        .pdl-cell(data-name="legend")
      div(data-type="render")
  style(type="text/css"): :stylus
    .pdl-layout > div[data-type=layout]
      display: grid
      grid-template-columns: 1fr fit-content(10em)
      grid-template-rows: 1fr fit-content(1em)
      & > .pdl-cell[data-name=view]
        grid-area: 1 / 1
      & > .pdl-cell[data-name=legend]
        grid-area: 1 / 2 / span 2
        padding: 0 .5em 0 .5em
      & > .pdl-cell[data-name=unit]
        grid-area: 2 / 1
        line-height: 1em
        text-align: right
        padding: .25em 0
        white-space: nowrap
    .pdl-layout.legend-bottom > div[data-type=layout]
      grid-template-columns: 1fr fit-content(1em)
      grid-template-rows: 1fr fit-content(3em)
      .pdl-cell[data-name=view]
        grid-area: 1 / 1 / auto / span 2
      .pdl-cell[data-name=legend]
        grid-area: 2 / 1
        padding-top: 1em
      .pdl-cell[data-name=unit]
        grid-area: 2 / 2
        padding-top: 1em

  script(type="@plotdb/block"): include:lsc index.ls
